/* 
    Created on : 25.07.2017, 15:30:55
    Author     : dimabresky
*/

.detail-btn, .filter-btn {
    cursor: pointer;
    background: #ffb300;
    border: 0;
    color: #000;
    font-size: 16px;
    padding: 9px 28px;
    border-radius: 0;
    font-weight: 600;
    display: inline-block;
    box-shadow: 0 2px 0 0 rgba(255, 179, 0, 0.6);
}

.detail-btn, .filter-btn {
    color: #000;
}

.detail-btn:hover {
    color: #fff;
}

.filter-btn:hover {
    color: #fff;
}

#order-filter {
    margin-bottom: 40px;
}

#order-filter .calendar-icon {
    position: absolute;
    top: 35px;
    right: 23px;
}

@media (max-width: 1200px) {
  .orders {
    border: 0;
  }
  .orders thead {
    display: none;
  }
  .orders tr {
    margin-bottom: 10px;
    display: block;
    border-bottom: 2px solid #a0a0a0;
  }
  .orders td {
    min-height: 57px;
    display: block;
    text-align: right;
    font-size: 13px;
	border: 0;
    border-bottom: 1px dotted #a0a0a0;
	width: 100%;
  }
  .orders td:last-child {
    border-bottom: 0;
  }
  .orders td:before {
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
    font-weight: bold;
	display: block;
	padding: 0 8px;
	background: #eee;
  }
}