/* 
    Created on : 09.08.2017, 17:43:21
    Author     : dimabresky
*/

.starrequired {color: red;}

#tourists-form select:focus, #tourists-form input:focus,  #tourists-form textarea:focus {
    border-color: #ffb300;
    box-shadow: 0 0 0 0.1rem rgba(255, 179, 0, 0.6);
}

#tourists-form .underline {
    text-decoration: underline;
}

#tourists-form .text-right {
    text-align: right;
}

#tourists-form .cleaners {
    position: absolute;
    top: 34px;
    right: 25px;
    cursor: pointer;
}

#tourists-form #add-tourists-btn {
    width: 150px;
    background: #ffb300;
    border: 0;
    margin-top: 20px;
    color: #000;
    font-size: 16px;
    border-radius: 0;
    font-weight: 600;
    display: inline-block;
    box-shadow: 0 2px 0 0 rgba(255, 179, 0, 0.6);
}

#tourists-form #add-tourists-btn:hover {
    color: #fff;
}

#tourists-form .error {
    color: #E22B2B !important;
    font-size: 11px;
}

#tourists-form input[type=checkbox] {
    margin-top: 3px !important;
}

#tourists-form input[type=checkbox]:checked:before {
    color: #ffb300 !important
}

#tourists-form div.error {
    font-size: 14px;
    margin: 10px 0;
}

#tourists-form .success {
    color: #01cb68;
    font-weight: 700;
    font-size: 14px;
    max-width: 380px;
    text-align: center;
}

#tourists-form .posrel {

    position: relative;
}

#tourists-form .calendar-icon {

    position: absolute;
    top: 40px;
    right: 20px;
}

.tourist-title, .add-tourist-title {
    
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    
    #tourists-form #add-tourists-btn {
        width: 100%;
    }
}
.hr-form-group-2, .hr-form-group-7, .hr-form-group-13, .hr-form-group-9 {    clear: both;
    border-top: 1px solid #f1f1f1;
    position: relative;
    float: left;
    margin-top: 15px;
    width: 95%;
    margin-left: 15px;
    min-height: 1px;
    margin-right: 15px;
    margin-bottom: 5px;}
label {margin-top: 5px;} 
.form-group-1 {width:100% !important;}
.form-group-5 {clear: both;}